.indexImg {
    height:600px;
}
.indexImg img{
    height:600px;
}

/*  业务范围 开始*/
    .business-box {
        width:100%;
        /* height:1880px; */
        background-color: #f3f3f3;
        margin-top:60px;
        margin-bottom:60px;
        border:1px solid transparent;
        padding-bottom:35px;
    }

    .business {
        margin-top:20px;
    }
    .business>p{
        height:50px;
        line-height:50px;
        font-size:18px;
        color:#333;
        font-family: "黑体";
    }
    .business .lastp {
        border-bottom:1px solid #ccc;
    }
    .lastp>span {
        display:inline-block;
        height:100%;
        padding-right: 10px;
        margin-right:15px;
    }
     .business .line {
        border-bottom:1px solid #182e46;
    }

    .business-font {
        /* border:1px solid red; */
        margin-top:45px;
    }
    .business-title {
        font-size:18px;
        color:#333;
        line-height:35px;
    }
    .busioness-detail {
        font-size:16px;
        color:#767676;
        line-height:30px;
        text-indent: 30px;
    }
    

/* 业务范围 结束 */